.container{
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: space-around;
}

.coluna {
    float: left;
    width: 50%;}
    
    row:after {
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }